.button {
    color: #000000;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    cursor: pointer;
    padding: 6px 12px;
    text-decoration: none;
    background-color: rgba(9, 30, 66, 0.04);
    box-shadow: none;
    border: none;
    margin-right: 5px;

    &--primary {
        background-color: $primary;
        color: $white;
        transition: 0.08s;

        &:hover{
            background-color: $hover-primary;
        }
    }
}

.icon-close {
    cursor: pointer;
    height: 32px;
    font-size: 14px;
    width: 32px;
    color: $dirty-blue;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: 0.08s;

    &:hover{
        color: $dark-blue;
    }
}