.colum-card {
    font-family: "Open Sans", sans-serif;
    background-color: $white;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
    cursor: pointer;
    display: block;
    margin-bottom: 8px;
    max-width: 300px;
    min-height: 20px;
    position: relative;
    text-decoration: none;
    z-index: 0;
    cursor: grab;

    &-details {
        overflow: hidden;
        padding: 6px 8px 2px;
        position: relative;
        z-index: 10;
    }

    &-title {
        clear: both;
        display: block;
        margin: 0 0 4px;
        overflow: hidden;
        text-decoration: none;
        word-wrap: break-word;
        color: $dark-blue;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
    }

    &.gu-mirror {
        position: fixed;
        margin: 0;
        z-index: 9999;
        cursor: grabbing;
        box-shadow: 0 0 30px rgb(9 30 66 / 22%);
    }
    &.gu-hide {
        display: none;
    }
    &.gu-unselectable {
        user-select: none;
    }
    &.gu-transit {
        opacity: 1;
        background-color: $card-drag;
        box-shadow: none;

        .colum-card-title {
            color: rgba(255, 255, 255, 0);
        }
    }
}
