/**
 * Variables
*/
$primary: #0079bf;
$hover-primary: #026aa7;

$dark-blue: #172b4d;
$dirty-blue: #42526e;
$light-gray: #ebecf0;
$card-drag: rgba(9, 30, 66, 0.05);
$colum-bg: #ebecf0;

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
$black: #000;
$white: #fff;
$light-gray: #f1f1f1;

$body-background-color: #333;
$foreground-color: #fff;
$caption-color: #464646;
$accent-color: #999;
$link-color: #ec1f4e;

/* Components */
