::-webkit-scrollbar-track
{
  background-color: #F5F5F5;
  border-radius: 3px;
}

::-webkit-scrollbar
{
  width: 5px;
  background-color: transparent;
  height: 5px;
}

::-webkit-scrollbar-thumb
{
  background-color: $primary;
  border-radius: 3px;
}


body {
    overflow-x: auto;
    //background-color: rgb(227, 247, 250);
  }
  
  .kanban {
    user-select: none;
    white-space: nowrap;
    margin-bottom: 8px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 8px 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: 'Open Sans', sans-serif;

  }
  

  

  